<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GroceryShoppingCart</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="bs-component">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GroceryStore", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                     {

                      <li class="dropdown">
                      <a class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" href="#">
                        Admin Area <span class="carer"></span>
                      </a>
                      <ul class=" dropdown-menu">
                        <li>@Html.ActionLink("Catagories", "Index", "Catagories")</li>
                        <li>@Html.ActionLink("Product", "Products", "Products")</li>
                        <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                      </ul>
                     </li>
                     }
                     <li class="dropdown">
                        <a class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" href="#">
                            About us
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group"> <input type="text" class="form-control" placeholder="Product Name" > </div> 
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>
               
                    @Html.Partial("_LoginPartial")
              </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <br />
        <hr/>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-7">
                        <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>
                        <a href="https://www.google.se/" target="_blank" class="fa fa-google"></a>
                        <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram"></a>
                    </div>
                    <div class="col-md-2 col-sm-2  col-xs-5 footer-links">
                        <ul>
                            <li>@Html.ActionLink("Store Lacation", "Map", "Home", new { @class = "linkColor" })<span class="glyphicon glyphicon-map-marker"></span></li>
                        </ul>
                    </div>
                    <p>&copy; @DateTime.Now.Year - GroceryShoppingCart by FakharaImran </p>
                </div>
           </div>
       </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
