<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GroceryShoppingCart</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div id="myPage" class="bs-component">
        <div class="header">
            <img src="~/Content/image/martshub.jpg" style="width:100%;height:150px" />
        </div>
        <div class="navbar navbar-inverse ">
            <div  class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MartsHub", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   <li>@Html.ActionLink("Products", "Product", "Home")</li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                     {
                       
                        <li class="dropdown">
                            <a class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" href="#">
                                Admin Area <span class="caret"></span>
                            </a>
                            <ul class=" dropdown-menu">
                                <li>@Html.ActionLink("Catagories", "Index", "Catagories")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Product", "Products", "Products")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Orders", "Index", "Orders")</li>


                            </ul>
                        </li>
                     }
                    <li class="dropdown">
                        <a class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" href="#">
                            About us
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <br />
        <hr class="footer-hr" />
        <footer class="footer">
            <!--Footer Elements-->
            <div class="container">
                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-fb mx-1">
                            <i class="fa fa-facebook"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1">
                            <i class="fa fa-twitter"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-1">
                            <i class="fa fa-google-plus"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-1">
                            <i class="fa fa-linkedin"> </i>
                        </a>
                    </li>
                    <li><span class="glyphicon glyphicon-map-marker"></span>@Html.ActionLink("Store Lacation", "Map", "Home", new { @class = "linkColor" })</li>
                </ul>
            </div>
            <div class="footer-copyright text-center py-3">
                <p><b>&copy; @DateTime.Now.Year - GroceryShoppingCart by FakharaImran</b> </p>
                <a href="#myPage" title="To Top"><span class="glyphicon glyphicon-arrow-up pull-right"></span></a>
            </div>
        </footer>
    </div>
   
    @RenderSection("scripts", required: false)
</body>
</html>
